<h1><%= @park.name %></h1>
<h3>Location:<br><%= @park.location %><h3>
<h3>Date Established:<br><%= @park.date_established %><h3>
<h3>Visitors (2019):<br><%= @park.visitors %><h3>
<h3>Description:<br><%= @park.description %><h3>