<h1><%= @park.name %></h1>
<h3>Location:<br><%= @park.location %><h3>
<h3>Date Established:<br><%= @park.date_established %><h3>
<h3>Visitors (2019):<br><%= @park.visitors %><h3>
<h3>Description:<br><%= @park.description %><h3>
<a href="/park/<%= @park.id %>/reviews/new">Create a Review</a>
<% @park.reviews.each do |review| %>
    <p><%= review.created_at.strftime("%m/%d/%Y") %> by <%= %></p>
    <p><%= review.title %></p>
    <p><%= review.content %></p>
    <% if review.user == current_user %>
        <p><a href="/reviews/<%= review.id %>/edit">Edit</a></p>
        <form action="/reviews/<%= review.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete">
        </form>
    <% end %>
<% end %>